@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Aplicacion de Daniela :) </h1> 
    <p class="lead">
    <p><a href="https://github.com/Daniela02125" class="btn btn-primary btn-lg"  target="_blank">GitHub &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ASP</h2>
        <p>
            ASP (Active Server Pages) es la tecnología desarrollada por Microsoft para la creación de páginas dinámicas del servidor.  
            
        <p><a class="btn btn-default" href="https://desarrolloweb.com/articulos/393.php" target="_blank">Mas Información &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>NuGet</h2>
        <p>NuGet es una extensión gratuita de Visual Studio que facilita la adición, eliminación y actualización de bibliotecas y herramientas en proyectos de Visual Studio.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866" target="_blank">Mas Información &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Alojamiento Web</h2>
        <p>Puede encontrar fácilmente una empresa de alojamiento web que ofrezca la combinación adecuada de características y precio para sus aplicaciones.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867" target="_blank">Mas Información &raquo;</a></p>
    </div>
</div>